/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    height: 100vh;
    background: linear-gradient(135deg, #ff00006b, #00f2fe);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    margin-bottom: 20px;
}

.search {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
}

button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    background: #ffffff;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #ddd;
}

/* Show result & result */
#result {
    margin-top: 20px;
    padding: 15px;
    font-size: 18px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    width: 300px;
    min-height: 75px;
    background: linear-gradient(135deg, #74ebd5, #9face6);
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

#result.show {
    opacity: 1;
    transform: translateY(0);
}